*{
    background-color: lightgrey;
    margin-top: 0.5em;
}

.search-form{
    margin:2em;
}

.search-title{
    color: green;
    margin-left: 1em;
}

.search-btn, .reset-btn{
    background-color: green;
    color: antiquewhite;
}

.main-section{
    margin:4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorites, .cocktails{
    border: 2px solid green;
    width: 50%;    
}

.title-favorites, .title-cocktails {
    text-align: center;
    color: antiquewhite;
    background-color: green;
}

.favorites{
    margin-right: 1em;
}

.imgCocktail{
    width: 100px;
}

.js-li-cocktail, .js-li-fav{
    list-style: none;
    padding-left: 2em;
    padding-bottom: 2em;
}

.ul-cocktails, .ul-favorites{ //no entra bien
    margin-top: 20px;
}

.close-icon{
    width: 5%;
    margin-left: 2px;
}

.selected{
    background-color: green;
    color: orangered;
    padding: 10px;
}

.selectedTitle{
    background-color:green;
}
