*{
    background-color: #f9f9f9;
    margin-top: 0.5em;
}

.title-image{
    width: 98vw;
    margin-top: -10px;
}

.search-form{
    margin:2em; 
}

.search-btn, .reset-btn{
    background-color: #d9b9a0;
    color: #9d7c62;
    font-weight: bold;
    width: 10em;
    line-height: 40px;
    border-radius: 10px;
    margin-left: 4em;
}

.input-search{
    width: 50em;
    line-height: 40px;
    border-radius: 10px;
}

.main-section{
    margin:4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

.favorites, .cocktails{
    border: 4px solid #d9b9a0;
    width: 50%;
    border-radius: 20px;    
}

.title-favorites, .title-cocktails {
    text-align: center;
    color: #9d7c62;
    background-color: #d9b9a0;
    margin-top: 0;
    line-height: 50px;
    border-radius: 15px;
}

.ul-favorites, .ul-cocktails{
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.imgCocktail{
    width: 100px;
}

.js-li-cocktail, .js-li-fav{
    list-style: none;
    padding-left: 2em;
    padding-bottom: 2em;
}

.close-icon{
    width: 5%;
    margin-left: 2px;
    background-color: #d9b9a0;
}

.selected{
    background-color: #d9b9a0;
    color: #9d7c62;
    border-radius: 10px;       
}

.selectedTitle, .selectedSubtitle{
    background-color:#d9b9a0;
}

.rightCocktails{
    background-color:#9d7c62;
    color: #d9b9a0;
    padding-right: 20px;
    border-radius: 10px;
}

.rightCocktails h3{
    background-color: #9d7c62;
}

.rightCocktails h4{
    background-color: #9d7c62;
}